html {
    max-width: 100vw;
    max-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

h2 {
    flex: 1 0 100%;
    text-align: center;
}

.main-image {
    width: 50vw;
    height: 100vh; 
}

.content {
    display: flex;
}

form {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex: 1 0 100%;
    flex-wrap: wrap;
    gap: 10px;
}